<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.pratik.Course" name="courseReference">
        <property name="courseId" value="100"/>
        <property name="courseName" value="Java Full stack"/>
        <property name="coursePrice" value="10000"/>

    </bean>
</beans>